/* Columns */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    min-height: 300vh;
    background-color: #000000;
}

.columns{
    column-count: 4;
    column-width: 250px;
    column-rule: 3px solid #333; columns border
    column-gap: 3rem; 
}

.columns p{
    margin-top: 0;
}

.columns h2{
    margin-top: 0;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    width: 250px;
    break-inside: avoid; Helps the element not break in half during screen resizing
} */
/* 
.columns .quote{
    font-size: 3rem;
    text-align: center;
    color: #333;
    column-span: all;
    margin-top: 2rem;
}

.nowrap{
    white-space: nowrap;
} */

/* Position */

/* .outer-container{
    border: 3px dashed #333;
    width: 75vw;
    height: 85vh;
    margin: 40px auto;
    position: relative;
} */
/* 
.inner-container{
    border: 2px solid blue;
    width: 40vw;
    height: 50vh;
    margin: 200px auto;
}

.box{
    width: 150px;
    height: 150px;
    color: #000000;
    padding: 1rem;
}

.absolute{
    background-color: blue;
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.relative{
    background-color: red;
    position: relative;
    top: 300px;
    left: 150px;
}

.fixed{
    background-color: green;
    position: fixed;
    top: 100px;
    left: 20px;
    z-index: 1;
}

.sticky{
    background-color: #b7ca48;
    position: sticky;
    top: 100px;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: #42e6ff;
    position: sticky;
    top: 0;
    right: 0;
} */

/* position:
            relative:position relative to where it normally is
            fixed:position relative to the viewport
            absolute:position relative to nearest ancestor
            sticky:position based on scroll position
            static:default position for an element 
*/
/* 
section{
    height: 100vh;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

header, footer{
    color: wheat;
    text-align: center;
    height: 100px;
    font-size: 3rem;
}

header{
    position: sticky;
    top: 0;
}

footer{
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
}
a{
    color: aliceblue;
}
.social{
    background-color: royalblue;
    color: #fff;
    font-size: inherit;
    padding: 1rem;
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 1;
    outline: none;
} */

/* Flexbox */

/* 
    css flex
    justify-content(left to right)
    align-items(bottom to top)
    flex-direction(relative to the text direction)
    order(integer)
    align-self(align an individual bottom to top)
    flex-wrap(squeeze all items on a single line)
    flex-flow(combination of flex-wrap & flex-direction)
    align-content(but align-content determines the spacing between lines, while align-items determines how the items as a whole are aligned within the container. When there is only one line, align-content has no effect.)
*/

.body {
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    padding: 20px;
}

.container{
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid #000;
    display:flex;
    justify-content: center;
    gap: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 20px;
}

.box {
    min-width: 100px;
    height: 100px;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
    display:flex;
    justify-content: center; 
}

.box:nth-child(2){
    background-color: aqua;
    order: 1;
}

/* position, flex, grid */


.box:first-child{
    background-color: blanchedalmond;
    grid-column: 1/3;
    grid-row: 1/3;
}

/* images */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}
.example{
    margin: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}

.example img{
    width: 25%;
    height: auto;
} */