*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.el{
    background-color: rebeccapurple;
    padding: 20px;
}

body{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
        'hd hd hd hd hd'
        'mn mn mn sd sd'
        'ft ft ft ft ft'
    ;
    gap:20px;
}

.header{
    grid-area: hd;
}
main{
    grid-area: mn;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap:2px;
}
section{
    grid-area: sd;
}
.footer{
    grid-area: ft;
}
.box{
    background-color: blueviolet;
}
.box:first-child{
    grid-column: 1/3;
    background-color: aqua;
}
.box:nth-child(3){
    background-color: yellowgreen;
    grid-column: 1/4;
}